<article class="post-card post no-image no-image">
    <div class="post-card-content">
        <a class="post-card-content-link" href="{{ .Permalink }}">
            <header class="post-card-header">
                <h2 class="post-card-title">{{ .Title }}</h2>
            </header>
            <section class="post-card-excerpt">
                <p>{{ .Summary | markdownify | truncate 320 "..." }}</p>
            </section>
        </a>
        <footer class="post-card-meta">
            <ul class="author-list">
                <li class="author-list-item">
                    <div class="author-name-tooltip">
                        {{ .Params.author }}
                    </div>
                    {{ if isset .Params "email" }}
                    <a class="static-avatar author-profile-image" href="https://gravatar.com/avatar/{{ sha256 .Params.email }}">
                        <img src="https://gravatar.com/avatar/{{ sha256 .Params.email }}?s=80&?d=identicon"/>
                    </a>
                    {{ else }}
                    <a class="static-avatar author-profile-image" href="/404/">
                        <img src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=identicon&f=y"/>
                    </a>
                    {{ end }}
                </li>
            </ul>
            <div class="post-card-byline-content">
                <span>
                    <a href="/404/">{{ .Params.author }}</a>
                </span>
                <span class="post-card-byline-date">
                    <time datetime="{{ .Date }}">{{ .Date.Format "2 January 2006" }}</time>
                    <span class="bull">• {{ .ReadingTime }} MIN READ</span>
                </span>
            </div>
        </footer>
    </div>
</article>