{{ $CurrentURL := (.RelPermalink) }}
{{ $AtHome := eq $CurrentURL "/" }}
{{ $AtBlogPage := eq (trim $CurrentURL "/") "blog"}}
<header class="{{ if or $AtHome $AtBlogPage }}site-home-header{{ else }}site-header{{ end }}">
<div class="outer {{ if or $AtHome $AtBlogPage }}site-header-background no-image{{ else }}site-nav-main{{ end }}">
    <div class="inner">
        <nav class="site-nav">
            <div class="site-nav-left-wrapper">
                <div class="site-nav-left">
                    <a class="site-nav-logo" href="https://joern.io">
                        <img src="/img/joern_large_logo_clean_up_v01_ph01_04-1_002.svg"
                            alt="Joern - The Bug Hunter's Workbench">
                    </a>
                    <div class="site-nav-content">
                        <ul class="nav">
                            {{ range site.Menus.main }}
                            {{ $TargetURL := (trim .URL "/") }}
                            <!-- Compare $TargetURL and $CurrentURL to determine who gets `nav-current-parent`-->
                            <li class="nav-{{ lower .Name }}{{ if eq (trim $CurrentURL " /") $TargetURL }}
                                nav-current-parent{{ end }}">
                                <a href="{{ .URL }}">{{ .Name }}</a>
                            </li>
                            {{ end }}
                        </ul>

                    </div>
                </div>
            </div>
            <div class="site-nav-right">
                <div style="margin-top: 1.3em;">
                    <div class="widget">
                        <!-- Place this tag where you want the button to render. -->
                        <a class="github-button" href="https://github.com/joernio/joern"
                            data-color-scheme="no-preference: dark; light: dark; dark: dark;" data-icon="octicon-star"
                            data-show-count="true" aria-label="Star joernio/joern on GitHub">Star</a>
                        <a class="github-button" href="https://github.com/joernio/joern/fork"
                            data-color-scheme="no-preference: dark; light: dark; dark: dark;"
                            data-icon="octicon-repo-forked" data-show-count="true"
                            aria-label="Fork joernio/joern on GitHub">Fork</a>
                        <a class="social-link social-link-tw" href="https://twitter.com/joernio"><i
                                class="fab fa-twitter"></i></a>
                        <a class="rss-button" href="https://feedly.com/i/subscription/feed/https://joern.io/rss/"><i
                                class="fa-solid fa-rss"></i></a>
                    </div>
                </div>
            </div>
        </nav>

        {{ if or $AtBlogPage $AtHome }}

        <div class="site-header-content">
            <h1 class="site-title">
                <img class="site-logo" src="/img/joern_large_logo_clean_up_v01_ph01_04-1_002.svg"
                    alt="Joern - The Bug Hunter's Workbench">
            </h1>
            <h2 class="site-description">The Bug Hunter's Workbench</h2>
        
            {{ if $AtHome }}
        
            <div style="padding-top: 1em;">
                <a class="mdc-button header-button mdc-button--outlined" href="https://github.com/joernio/joern"
                    style="z-index: 100;padding: 15px;">
                    <div class="mdc-button__ripple"></div>
                    <i class="material-icons mdc-button__icon" aria-hidden="true">code</i>
                    <span class="mdc-button__label">Source</span>
                </a>
        
                <a class="mdc-button header-button mdc-button--outlined" href="https://docs.joern.io"
                    style="z-index: 100;padding: 15px;">
                    <div class="mdc-button__ripple"></div>
                    <i class="material-icons mdc-button__icon" aria-hidden="true">description</i>
                    <span class="mdc-button__label">Documentation</span>
                </a>
        
                <a class="mdc-button header-button mdc-button--outlined" href="https://cpg.joern.io"
                    style="z-index: 100;padding: 15px;">
                    <div class="mdc-button__ripple"></div>
                    <i class="material-icons mdc-button__icon" aria-hidden="true">square_foot</i>
                    <span class="mdc-button__label">CPG SPEC</span>
                </a>
        
                <a class="mdc-button header-button mdc-button--raised" href="https://queries.joern.io"
                    style="z-index: 100;padding: 15px;">
                    <div class="mdc-button__ripple"></div>
                    <i class="material-icons mdc-button__icon" aria-hidden="true">policy</i>
                    <span class="mdc-button__label">Query Database</span>
                </a>
            </div>
        
            {{ end }}
        </div>

        {{ end }}
    </div>
</div>
</header>